# üêòüéì Spark & HDFS: –ü–æ—à–∞–≥–æ–≤–æ–µ —Ä—É–∫–æ–≤–æ–¥—Å—Ç–≤–æ

–≠—Ç–æ—Ç –Ω–æ—É—Ç–±—É–∫ —Å–æ–∑–¥–∞–Ω, —á—Ç–æ–±—ã –Ω–∞—É—á–∏—Ç—å –≤–∞—Å —Ä–∞–±–æ—Ç–∞—Ç—å —Å **HDFS** –∏ **Apache Spark** –≤ –∏–Ω—Ç–µ—Ä–∞–∫—Ç–∏–≤–Ω–æ–º —Ä–µ–∂–∏–º–µ.

## ‚öôÔ∏è –ù–∞—Å—Ç—Ä–æ–π–∫–∞ –æ–∫—Ä—É–∂–µ–Ω–∏—è
–í—ã–ø–æ–ª–Ω–∏—Ç–µ —ç—Ç—É —è—á–µ–π–∫—É, —á—Ç–æ–±—ã –¥–æ–±–∞–≤–∏—Ç—å –∫–æ–º–∞–Ω–¥—ã Hadoop –≤ —Å–∏—Å—Ç–µ–º—É.

In [15]:
import os

# –ü—É—Ç—å –∫ Hadoop
hadoop_home = "/home/jovyan/work/hadoop"
hadoop_bin = hadoop_home + "/bin"
hadoop_conf = hadoop_home + "/etc/hadoop"

# –ü—É—Ç—å –∫ Java (–Ω–∞–π–¥–µ–Ω –≤ –∫–æ–Ω—Ç–µ–π–Ω–µ—Ä–µ)
java_home = "/usr/lib/jvm/java-17-openjdk-arm64"

# –î–æ–±–∞–≤–ª—è–µ–º –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ –æ–∫—Ä—É–∂–µ–Ω–∏—è
# %env - —ç—Ç–æ –º–∞–≥–∏—è IPython, –∫–æ—Ç–æ—Ä–∞—è —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ—Ç –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ –¥–ª—è —Å–∏—Å—Ç–µ–º–Ω—ã—Ö –≤—ã–∑–æ–≤–æ–≤ (!)
%env HADOOP_HOME={hadoop_home}
%env HADOOP_CONF_DIR={hadoop_conf}
%env JAVA_HOME={java_home}
%env PATH={hadoop_bin}:{os.environ['PATH']}

print(f"‚úÖ Environment congigured!")
print(f"   HADOOP_HOME: {hadoop_home}")
print(f"   JAVA_HOME:   {java_home}")

env: HADOOP_HOME=/home/jovyan/work/hadoop
env: HADOOP_CONF_DIR=/home/jovyan/work/hadoop/etc/hadoop
env: JAVA_HOME=/usr/lib/jvm/java-17-openjdk-arm64
env: PATH=/home/jovyan/work/hadoop/bin:/home/jovyan/work/hadoop/bin:/home/jovyan/work/hadoop/bin:/home/jovyan/work/hadoop/bin:/opt/conda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/spark/bin
‚úÖ Environment congigured!
   HADOOP_HOME: /home/jovyan/work/hadoop
   JAVA_HOME:   /usr/lib/jvm/java-17-openjdk-arm64

–¢–µ–ø–µ—Ä—å –ø—Ä–æ–≤–µ—Ä–∏–º, —á—Ç–æ –∫–æ–º–∞–Ω–¥–∞ `hdfs` —Ä–∞–±–æ—Ç–∞–µ—Ç:

In [16]:
!hdfs version

Hadoop 3.3.6
Source code repository https://github.com/apache/hadoop.git -r 1be78238728da9266a4f88195058f08fd012bf9c
Compiled by ubuntu on 2023-06-18T08:22Z
Compiled on platform linux-x86_64
Compiled with protoc 3.7.1
From source with checksum 5652179ad55f76cb287d9c633bb53bbd
This command was run using /home/jovyan/work/hadoop/share/hadoop/common/hadoop-common-3.3.6.jar

### ‚ö†Ô∏è –ï—Å–ª–∏ —è—á–µ–π–∫–∞ –≤—ã—à–µ –∑–∞–≤–∏—Å–ª–∞ —Å–æ –∑–Ω–∞–∫–æ–º `[*]`:
–≠—Ç–æ –∑–Ω–∞—á–∏—Ç, —á—Ç–æ Jupyter –Ω–µ —Å–º–æ–≥ –Ω–∞–π—Ç–∏ Java. –û–±—ã—á–Ω–æ —è—á–µ–π–∫–∞ –¥–æ–ª–∂–Ω–∞ –æ—Ç—Ä–∞–±–æ—Ç–∞—Ç—å –∑–∞ 1-2 —Å–µ–∫—É–Ω–¥—ã.
–ï—Å–ª–∏ —ç—Ç–æ –ø—Ä–æ–∏–∑–æ—à–ª–æ, –Ω–∞–∂–º–∏—Ç–µ **Kernel -> Restart Kernel** –≤ –º–µ–Ω—é —Å–≤–µ—Ä—Ö—É –∏ –ø–æ–ø—Ä–æ–±—É–π—Ç–µ —Å–Ω–æ–≤–∞.

---

## –®–∞–≥ 1: –†–∞–±–æ—Ç–∞ —Å HDFS (–ö–æ–Ω—Å–æ–ª—å)

–í Jupyter –º–æ–∂–Ω–æ –≤—ã–ø–æ–ª–Ω—è—Ç—å bash-–∫–æ–º–∞–Ω–¥—ã, –∏—Å–ø–æ–ª—å–∑—É—è –≤–æ—Å–∫–ª–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–π –∑–Ω–∞–∫ `!`.
–î–∞–≤–∞–π—Ç–µ –ø–æ—Å–º–æ—Ç—Ä–∏–º, —á—Ç–æ —É –Ω–∞—Å –µ—Å—Ç—å –≤ —Ñ–∞–π–ª–æ–≤–æ–π —Å–∏—Å—Ç–µ–º–µ HDFS.

In [17]:
!hdfs dfs -ls /

2026-02-08 20:54:16,546 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Found 2 items
drwxr-xr-x   - root supergroup          0 2026-02-08 19:45 /test_dir
drwxr-xr-x   - root supergroup          0 2026-02-08 20:03 /user

In [18]:
# –ü—Ä–æ–≤–µ—Ä–∏–º –Ω–∞—à—É –ø–∞–ø–∫—É –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
!hdfs dfs -ls /user/myself/

2026-02-08 20:54:19,696 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Found 1 items
-rw-r--r--   1 root supergroup   47673370 2026-02-08 20:00 /user/myself/yellow_tripdata_2023-01.parquet

---

## –®–∞–≥ 2: –ò–Ω–∏—Ü–∏–∞–ª–∏–∑–∞—Ü–∏—è Spark

–°–æ–∑–¥–∞–µ–º `SparkSession`.

In [19]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, avg, desc

# –°–æ–∑–¥–∞–µ–º —Å–µ—Å—Å–∏—é
spark = SparkSession.builder \
    .appName("SparkHDFSTutorial") \
    .master("spark://spark-master:7077") \
    .getOrCreate()

print(f"Spark Version: {spark.version}")
spark

Spark Version: 3.5.0

---

## –®–∞–≥ 3: –ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö (Data Loading)

–ß–∏—Ç–∞–µ–º Parquet —Ñ–∞–π–ª.

In [20]:
# –ß–∏—Ç–∞–µ–º —Ñ–∞–π–ª –∏–∑ HDFS
file_path = "hdfs://namenode:9000/user/myself/yellow_tripdata_2023-01.parquet"
df = spark.read.parquet(file_path)

# –í—ã–≤–µ–¥–µ–º —Å—Ö–µ–º—É –¥–∞–Ω–Ω—ã—Ö (—Ç–∏–ø—ã –∫–æ–ª–æ–Ω–æ–∫)
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

---

## –®–∞–≥ 4: –û—Å–Ω–æ–≤–Ω—ã–µ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å DataFrame

In [21]:
# –í—ã–±–æ—Ä –∫–æ–Ω–∫—Ä–µ—Ç–Ω—ã—Ö –∫–æ–ª–æ–Ω–æ–∫ (Select)
df.select("tpep_pickup_datetime", "passenger_count", "total_amount").show(5)

+--------------------+---------------+------------+
|tpep_pickup_datetime|passenger_count|total_amount|
+--------------------+---------------+------------+
| 2023-01-01 00:32:10|            1.0|        14.3|
| 2023-01-01 00:55:08|            1.0|        16.9|
| 2023-01-01 00:25:04|            1.0|        34.9|
| 2023-01-01 00:03:48|            0.0|       20.85|
| 2023-01-01 00:10:29|            1.0|       19.68|
+--------------------+---------------+------------+
only showing top 5 rows

In [22]:
# –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è (Filter / Where)
# –ù–∞–π–¥–µ–º –ø–æ–µ–∑–¥–∫–∏, –≥–¥–µ —Å—Ç–æ–∏–º–æ—Å—Ç—å –±–æ–ª—å—à–µ $100
expensive_trips = df.filter(col("total_amount") > 100)

print(f"–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–æ—Ä–æ–≥–∏—Ö –ø–æ–µ–∑–¥–æ–∫: {expensive_trips.count()}")
expensive_trips.select("tpep_pickup_datetime", "total_amount").show(5)

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–æ—Ä–æ–≥–∏—Ö –ø–æ–µ–∑–¥–æ–∫: 36001
+--------------------+------------+
|tpep_pickup_datetime|total_amount|
+--------------------+------------+
| 2023-01-01 00:29:33|      107.87|
| 2023-01-01 00:51:35|      103.55|
| 2023-01-01 00:19:10|      189.98|
| 2023-01-01 00:31:05|      100.33|
| 2023-01-01 00:31:00|      115.37|
+--------------------+------------+
only showing top 5 rows

In [23]:
# –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –∏ –ê–≥—Ä–µ–≥–∞—Ü–∏—è (GroupBy)
# –ü–æ—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–∏–π —á–µ–∫ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ VendorID
df.groupBy("VendorID") \
  .agg(
      count("*").alias("total_trips"),
      avg("total_amount").alias("avg_fare")
  ) \
  .show()

+--------+-----------+------------------+
|VendorID|total_trips|          avg_fare|
+--------+-----------+------------------+
|       1|     827367|25.755021350872866|
|       2|    2239399| 27.48788289622012|
+--------+-----------+------------------+

---

## –®–∞–≥ 5: –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ SQL

In [25]:
df.createOrReplaceTempView("taxi_trips")

In [26]:
# –ü—Ä–∏–º–µ—Ä SQL-–∑–∞–ø—Ä–æ—Å–∞: –¢–æ–ø 5 —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö –ø–æ–µ–∑–¥–æ–∫
spark.sql("""
    SELECT 
        tpep_pickup_datetime, 
        passenger_count, 
        trip_distance, 
        total_amount
    FROM taxi_trips
    ORDER BY total_amount DESC
    LIMIT 5
""").show()

+--------------------+---------------+-------------+------------+
|tpep_pickup_datetime|passenger_count|trip_distance|total_amount|
+--------------------+---------------+-------------+------------+
| 2023-01-24 12:43:44|            1.0|       177.88|      1169.4|
| 2023-01-09 16:17:32|            1.0|          0.0|      1000.0|
| 2023-01-30 13:17:33|            1.0|          0.0|       901.0|
| 2023-01-30 13:23:56|            1.0|          0.0|       751.0|
| 2023-01-30 16:17:35|            2.0|         8.81|       705.6|
+--------------------+---------------+-------------+------------+

---

## –®–∞–≥ 6: –ó–∞–ø–∏—Å—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –æ–±—Ä–∞—Ç–Ω–æ –≤ HDFS

In [28]:
# –ü–æ–¥–≥–æ—Ç–æ–≤–∏–º –º–∞–ª–µ–Ω—å–∫–∏–π DataFrame
summary_df = df.groupBy("payment_type").count()

# –°–æ—Ö—Ä–∞–Ω–∏–º –µ–≥–æ –≤ CSV –≤ HDFS
output_path = "hdfs://namenode:9000/user/myself/payment_summary"
summary_df.write.mode("overwrite").csv(output_path)

print("–î–∞–Ω–Ω—ã–µ —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã!")

–î–∞–Ω–Ω—ã–µ —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã!

In [29]:
# –ü—Ä–æ–≤–µ—Ä—è–µ–º
!hdfs dfs -ls /user/myself/payment_summary

2026-02-08 20:58:55,578 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Found 2 items
-rw-r--r--   3 jovyan supergroup          0 2026-02-08 20:58 /user/myself/payment_summary/_SUCCESS
-rw-r--r--   3 jovyan supergroup         43 2026-02-08 20:58 /user/myself/payment_summary/part-00000-8f63b1da-d9e2-40a4-abaf-aa5f0ec92821-c000.csv

In [30]:
spark.stop()